{# Macros #}
{% import 'atoms/icon.twig' as icon %}

<header class="site-header" role="navigation" js-header>
	<div class="site-header__head">
		<div class="site-header__logo">
			<a href="{{ site.url}}">
				<img src="{{ global.logo.url }}" alt="{{ global.logo.alt}}">
			</a>
		</div>

		<button class="site-header__burger" js-burger-button>
			{{ icon.sprite('burger', 50, 50, 'icone du menu', site.theme.link) }}
		</button>
	</div>

	<div class="site-header__body" js-menu>
		{% if menu %}
			<ul class="site-header__body__navigation">
				{% set items = menu.get_items %}
				{% for item in items %}
					<li class="site-header__body__navigation__item">
						<a target="{{ item.target }}" href="{{ item.link }}" class="{{ post.id == item.object_id ? ' active' : '' }}" js-menu-link>{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</header>