{# Macros #}
{% import 'atoms/icon.twig' as icon %}

<header class="site-header" role="navigation" data-js-header>

	<div>
		<a href="{{ site.url}}">
			<img src="{{ global.logo.url }}" alt="{{ global.logo.alt}}">
		</a>
	</div>

		{% set items = menu.get_items %}

		{% if menu %}
			<ul class="navigation__items">
				{% for item in items %}
					<li class="{{ item.classes | join(' ') }}">
						<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
</header>