{# Available datas :
    href : string
    label : string
    isNeg : bool
    class: string
    datasAttributes: array('')
 #}

{% set style = isNeg ? 'button button--neg' : 'button' %}

 {% set classes = [
    style,
    class,
 ]|join(' ') %}

{% set attributes = datasAttributes|join(' ') %}

{% if href %}
    <a
        href="{{ href }}"
        class="{{ classes }}"
        {{ datasAttributes ? attributes : '' }}
    >
{% else %}
    <button
        type="button"
        class="{{ classes }}"
        {{ datasAttributes ? attributes : '' }}
    >
{% endif %}

        {{ label ? label : '' }}

{% if href %}
    </a>
{% else %}
    </button>
{% endif %}