{% extends "base.twig" %}

{% set template = 'accueil' %}

{# Variables disponibles :
	{{ dump(hero) }}
	{{ dump(actus) }}
	{{ dump(cours) }}
	{{ dump(ateliers) }}
 #}


{# Prepare datas #}
{% set heroDatas = {
	isHero: true,
	title: hero.titre,
	text: hero.texte,
	btns: hero.btns
} %}

{% set coursDatas = {
	title: cours.titre,
	text: cours.texte,
	btns: cours.btns
} %}

{% set ateliersDatas = {
	title: ateliers.infos.titre,
	text: ateliers.infos.texte,
	btns: [ateliers.infos.btn]
} %}

{% block main %}

	<div class="container post-type-{{post.post_type}}" id="post-{{post.ID}}">

		{% include 'partials/image-text.twig' with {
			paragraphDatas: heroDatas,
			img: hero.img,
			revert: true,
			class: "image-text--hero"
		} %}
		
		<h2 class="h2">{{ actus.titre }}</h2>

		{% if(global.highlight.toggle == true) %}

			<div class="highlight">
				<img src="{{global.highlight.image}}" alt="{{ global.highlight.title}}">
				<div class="highlight__infos">
					<p class="h3">{{ global.highlight.title }}</p>
					<p>Début : {{ global.highlight.start }}</p>
					<hr>
					<p>Fin : {{ global.highlight.end }}</p>
					<hr>
					<span>Category : {{ global.highlight.category }}</span>
					<hr>
					<span>Tag : {{ global.highlight.tag }}</span>
					<hr>
					<p> localisation : {{ global.highlight.location }} </p>
					<hr>
					<p>content : {{ global.highlight.content }}</p>
				</div>
			</div>

		{% endif %}


		{% include 'partials/image-text.twig' with {
			paragraphDatas: coursDatas,
			img: cours.img,
			bg: 'secondary',
			class: "image-text--cours"
		} %}

		{% include 'partials/text-liste.twig' with {
			paragraphDatas: ateliersDatas,
			items: ateliers.items
		} %}

	</div>
	<!-- /content-wrapper -->
{% endblock %}
