{% extends "base.twig" %}
{% set template = 'a-propos' %}

{# Variables disponibles :
	{{ dump(hero) }}
	{{ dump(groupe) }}
	{{ dump(equipe) }}
	{{ dump(archives) }}
 #}

 {% set heroDatas = {
	paragraphDatas: {
		title: hero.titre,
		text: hero.texte
	},
	img: hero.img,
	isHero: true,
	ratioImg: 90
 } %}

 {% set equipeDatas = {
	title: equipe.titre,
	text: equipe.texte,
	btns: [
		{
			label: equipe.btn.label,
			url: equipe.btn.url,
		}
	]
 } %}


{% block main %}
	<div class="container post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
		{% include 'partials/image-text.twig' with heroDatas %}

		<img src="{{ groupe.url }}" alt="{{ groupe.alt }}">

		<div class="paragraph--our-members">
			{% include 'modules/paragraph.twig' with equipeDatas %}
		</div>

    	{% include 'partials/members.twig' with {members: equipe.cartes} %}
		

		<h1>ARCHIVES</h1>
		<p>{{ fichiers.titre }}</p>
		<p>{{ fichiers.texte }}</p>
		<p>{{ fichiers.embed }}</p>

	</div>
{% endblock %}
