{% extends "base.twig" %}

{% set template = 'cours-stages' %}

{# Variables disponibles :
		{{ dump(hero) }}
		{{ dump(offres) }}
		{{ dump(gouts) }}
		{{ dump(spectacle) }}
 #}

{% set heroDatas = {
	paragraphDatas: {
		title: hero.titre,
		text: hero.texte,
		btns: [
			{
				label: hero.btn.label,
				url: hero.btn.url
			}
		]
	},
	img: hero.img,
	ratioImg: 120
 } %}

 {% set offresDatas = {
	paragraphDatas: {
		title: offres.titre,
		text: offres.texte,
	},
	img: offres.img,
	revert: true,
	ratioImg: 150
 } %}

 {% set goutsDatas = {
	paragraphDatas: {
		title: gouts.titre,
		text: gouts.texte,
	},
	img: gouts.img,
	revert: true
 } %}

  {% set spectacleDatas = {
	paragraphDatas: {
		title: spectacle.titre,
		text: spectacle.texte,
	},
	img: spectacle.img,
 } %}

{% block main %}

	<div class="container post-type-{{post.post_type}}" id="post-{{post.ID}}">

		<div class="section--hero">
			{% include 'partials/image-text.twig' with heroDatas %}
		</div>

		<div class="section--offres">
			{% include 'partials/image-text.twig' with offresDatas %}
		</div>

		<div class="section--prix">
			{% include 'partials/offers-list.twig' with { offers: offres.cartes } %}
		</div>

		<div class="section--gouts">
			{% include 'partials/image-text.twig' with goutsDatas %}
		</div>

		<div class="section--spectacle">
			{% include 'partials/image-text.twig' with spectacleDatas %}
		</div>
	</div>
	<!-- /content-wrapper -->
{% endblock %}