{% extends "templates/common/base.twig" %}

{% set template = 'cours-stages' %}

{# Variables disponibles :
		{{ dump(hero) }}
		{{ dump(offres) }}
		{{ dump(gouts) }}
		{{ dump(spectacle) }}
 #}

{% block main %}

	<div class="container post-type-{{post.post_type}}" id="post-{{post.ID}}">

		BIENVENUE SUR LA PAGE COURS & STAGES
		
		<h1>HERO</h1>
		<p>{{ hero.titre }}</p>
		<p>{{ hero.texte }}</p>
		<p>{{ hero.btn.label }}</p>
		<p>{{ hero.btn.url }}</p>
		<img src="{{ hero.img.url }}" alt="{{ hero.img.alt }}">-

		<h1>OFFRES</h1>
		<p>{{ offres.titre }}</p>
		<p>{{ offres.texte }}</p>
		<img src="{{ offres.img.url }}" alt="{{ offres.img.alt }}">

		{% for carte in offres.cartes %}
		<ul>
			<li>{{ carte.titre }}</li>
			<li>{{ carte.prix }}</li>
			<li>{{ carte.unite }}</li>
			<li>{{ carte.horaire }}</li>
			<li>{{ carte.personne }}</li>
			<li>{{ carte.calendrier }}</li>
		</ul>
		{% endfor %}

		<h1>GOUTS</h1>
		<p>{{ gouts.titre }}</p>
		<p>{{ gouts.texte }}</p>
		<img src="{{ gouts.img.url }}" alt="{{ gouts.img.alt }}">

		<h1>SPECTACLE</h1>
		<p>{{ spectacle.titre }}</p>
		<p>{{ spectacle.texte }}</p>
		<img src="{{ spectacle.img.url }}" alt="{{ spectacle.img.alt }}">
	</div>
	<!-- /content-wrapper -->
{% endblock %}