{% extends "base.twig" %}

{% block main %}
	<article class="single-spectacle container post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

		<div class="single-spectacle__hero">
			{% include 'atoms/image.twig' with {img: {
				src: post.thumbnail,
				alt: post.title,
				ratio: 'banner'
			}} %}

			<div class="single-spectacle__hero__breadcrumb">
				<a class="a" href="{{ site.link }}">Accueil</a>
				>
				<a class="a" href="{{ global.pageSpectacles.guid }}">{{ attribute(global.pageSpectacles, 'post_title') }}</a>
				>
				{{ post.name }}
			</div>
		</div>

		<div class="single-spectacle__content typeset">
			<h1>{{ post.title }}</h1>

			{{ post.content }}
			
			{% if evenements is not empty %}
				<div class="editions">
					<h3 class="h3">Toutes les éditions :</h3>
					<ul class="editions__list">
						{% for evenement in evenements %}
							<li class="editions__item">
								<span class="editions__item__date">
									{{ evenement.date|date("d M y") }} : 
								</span>
								<a href="{{ evenement.url }}" class="a edition__item__link">
									{{ evenement.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>

		
	</article>
{% endblock %}
